/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6cd35c41498c220a1fe2086639c3f096:e0140c0c28b2e84859f03393982ac0a7:e424ccd94854501f4a6eab7eac827e9a$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
@keyframes play {
    100%{background-position: -2px}
}

.sprite {display:inline-block;
    overflow:hidden;
    width:119px;
    height: 116px;
    background-repeat: no-repeat;
    background-image:url(jelliesSprite-0.png);
    animation: play 3s steps(61) infinite;
}

.jellyBlue0001 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0002 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0003 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0004 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0005 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0006 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0007 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0008 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0009 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0010 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0011 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0012 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0013 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0014 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0015 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0016 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0017 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0018 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0019 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0020 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0021 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0022 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0023 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0024 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0025 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0026 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0027 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0028 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0029 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0030 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0031 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0032 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0033 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0034 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0035 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0036 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0037 {width:119px; height:116px; background-position: -2px -2px}
.jellyBlue0038 {width:119px; height:116px; background-position: -124px -2px}
.jellyBlue0039 {width:119px; height:116px; background-position: -2px -121px}
.jellyBlue0040 {width:119px; height:116px; background-position: -124px -121px}
.jellyBlue0041 {width:119px; height:116px; background-position: -2px -240px}
.jellyBlue0042 {width:119px; height:116px; background-position: -124px -240px}
.jellyBlue0043 {width:119px; height:116px; background-position: -2px -359px}
.jellyBlue0044 {width:119px; height:116px; background-position: -124px -2px}
.jellyBlue0045 {width:119px; height:116px; background-position: -124px -359px}
.jellyBlue0046 {width:119px; height:116px; background-position: -2px -478px}
.jellyBlue0047 {width:119px; height:116px; background-position: -124px -478px}
.jellyBlue0048 {width:119px; height:116px; background-position: -2px -597px}
.jellyBlue0049 {width:119px; height:116px; background-position: -124px -597px}
.jellyBlue0050 {width:119px; height:116px; background-position: -2px -716px}
.jellyBlue0051 {width:119px; height:116px; background-position: -124px -716px}
.jellyBlue0052 {width:119px; height:116px; background-position: -2px -835px}
.jellyBlue0053 {width:119px; height:116px; background-position: -124px -835px}
.jellyBlue0054 {width:119px; height:116px; background-position: -2px -954px}
.jellyBlue0055 {width:119px; height:116px; background-position: -124px -954px}
.jellyBlue0056 {width:119px; height:116px; background-position: -124px -2px}
.jellyBlue0057 {width:119px; height:116px; background-position: -124px -2px}
.jellyBlue0058 {width:119px; height:116px; background-position: -124px -2px}
.jellyBlue0059 {width:119px; height:116px; background-position: -124px -2px}
.jellyBlue0060 {width:119px; height:116px; background-position: -124px -2px}
.jellyBlue0061 {width:119px; height:116px; background-position: -124px -2px}
