/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:3344c787920397bfe88e3f4d05625857:44654e00976bc264580cf732036103fb:38094530ff66908396443f5c48edd90a$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(jellyBlue.png);}

.jellyBlue0001 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0002 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0003 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0004 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0005 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0006 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0007 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0008 {width:90px; height:80px; background-position: -1px -1px}
.jellyBlue0009 {width:90px; height:80px; background-position: -93px -1px}
.jellyBlue0010 {width:90px; height:80px; background-position: -185px -1px}
.jellyBlue0011 {width:90px; height:80px; background-position: -277px -1px}
.jellyBlue0012 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0013 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0014 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0015 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0016 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0017 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0018 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0019 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0020 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0021 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0022 {width:90px; height:80px; background-position: -369px -1px}
.jellyBlue0023 {width:90px; height:80px; background-position: -461px -1px}
.jellyBlue0024 {width:90px; height:80px; background-position: -553px -1px}
.jellyBlue0025 {width:90px; height:80px; background-position: -645px -1px}
.jellyBlue0026 {width:90px; height:80px; background-position: -93px -1px}
.jellyBlue0027 {width:90px; height:80px; background-position: -93px -1px}
.jellyBlue0028 {width:90px; height:80px; background-position: -93px -1px}
.jellyBlue0029 {width:90px; height:80px; background-position: -93px -1px}
.jellyBlue0030 {width:90px; height:80px; background-position: -93px -1px}
