/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:841234a720a1f3935e5143d42d40fab9:e0b94a372867c37f90a96601ebc424b0:e424ccd94854501f4a6eab7eac827e9a$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(jelliesSprite-0.png);}

.jellyBlue0001 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0002 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0003 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0004 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0005 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0006 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0007 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0008 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0009 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0010 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0011 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0012 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0013 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0014 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0015 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0016 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0017 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0018 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0019 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0020 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0021 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0022 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0023 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0024 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0025 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0026 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0027 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0028 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0029 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0030 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0031 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0032 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0033 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0034 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0035 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0036 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0037 {width:119px; height:116px; background-position: -379px -245px}
.jellyBlue0038 {width:119px; height:116px; background-position: -379px -363px}
.jellyBlue0039 {width:119px; height:116px; background-position: -379px -481px}
.jellyBlue0040 {width:119px; height:116px; background-position: -379px -599px}
.jellyBlue0041 {width:119px; height:116px; background-position: -127px -661px}
.jellyBlue0042 {width:119px; height:116px; background-position: -1px -771px}
.jellyBlue0043 {width:119px; height:116px; background-position: -248px -661px}
.jellyBlue0044 {width:119px; height:116px; background-position: -379px -363px}
.jellyBlue0045 {width:119px; height:116px; background-position: -369px -717px}
.jellyBlue0046 {width:119px; height:116px; background-position: -122px -779px}
.jellyBlue0047 {width:119px; height:116px; background-position: -1px -889px}
.jellyBlue0048 {width:119px; height:116px; background-position: -243px -779px}
.jellyBlue0049 {width:119px; height:116px; background-position: -364px -835px}
.jellyBlue0050 {width:119px; height:116px; background-position: -122px -897px}
.jellyBlue0051 {width:119px; height:116px; background-position: -1px -1007px}
.jellyBlue0052 {width:119px; height:116px; background-position: -243px -897px}
.jellyBlue0053 {width:119px; height:116px; background-position: -364px -953px}
.jellyBlue0054 {width:119px; height:116px; background-position: -122px -1015px}
.jellyBlue0055 {width:119px; height:116px; background-position: -1px -1125px}
.jellyBlue0056 {width:119px; height:116px; background-position: -379px -363px}
.jellyBlue0057 {width:119px; height:116px; background-position: -379px -363px}
.jellyBlue0058 {width:119px; height:116px; background-position: -379px -363px}
.jellyBlue0059 {width:119px; height:116px; background-position: -379px -363px}
.jellyBlue0060 {width:119px; height:116px; background-position: -379px -363px}
.jellyBlue0061 {width:119px; height:116px; background-position: -379px -363px}
.jellyGreen0001 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0002 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0003 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0004 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0005 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0006 {width:119px; height:120px; background-position: -379px -123px}
.jellyGreen0007 {width:119px; height:120px; background-position: -379px -123px}
.jellyGreen0008 {width:119px; height:120px; background-position: -379px -123px}
.jellyGreen0009 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0010 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0011 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0012 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0013 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0014 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0015 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0016 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0017 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0018 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0019 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0020 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0021 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0022 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0023 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0024 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0025 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0026 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0027 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0028 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0029 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0030 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0031 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0032 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0033 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0034 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0035 {width:119px; height:120px; background-position: -379px -1px}
.jellyGreen0036 {width:119px; height:120px; background-position: -379px -1px}
.jellyRed0001 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0002 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0003 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0004 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0005 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0006 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0007 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0008 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0009 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0010 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0011 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0012 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0013 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0014 {width:119px; height:116px; background-position: -243px -1015px}
.jellyRed0015 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0016 {width:119px; height:116px; background-position: -122px -1133px}
.jellyRed0017 {width:119px; height:116px; background-position: -122px -1133px}
.jellyRed0018 {width:119px; height:116px; background-position: -1px -1243px}
.jellyRed0019 {width:119px; height:116px; background-position: -243px -1133px}
.jellyRed0020 {width:119px; height:116px; background-position: -243px -1133px}
.jellyRed0021 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0022 {width:119px; height:116px; background-position: -1px -1361px}
.jellyRed0023 {width:119px; height:116px; background-position: -364px -1189px}
.jellyRed0024 {width:119px; height:116px; background-position: -122px -1307px}
.jellyRed0025 {width:119px; height:116px; background-position: -1px -1361px}
.jellyRed0026 {width:119px; height:116px; background-position: -243px -1251px}
.jellyRed0027 {width:119px; height:116px; background-position: -243px -1369px}
.jellyRed0028 {width:119px; height:116px; background-position: -364px -1307px}
.jellyRed0029 {width:119px; height:116px; background-position: -364px -1307px}
.jellyRed0030 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0031 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0032 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0033 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0034 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0035 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0036 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0037 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0038 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0039 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0040 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0041 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0042 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0043 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0044 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0045 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0046 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0047 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0048 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0049 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0050 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0051 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0052 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0053 {width:119px; height:116px; background-position: -364px -1071px}
.jellyRed0054 {width:119px; height:116px; background-position: -364px -1071px}
.jellyYellow0001 {width:124px; height:108px; background-position: -1px -1px}
.jellyYellow0002 {width:124px; height:108px; background-position: -127px -1px}
.jellyYellow0003 {width:124px; height:108px; background-position: -253px -1px}
.jellyYellow0004 {width:124px; height:108px; background-position: -1px -111px}
.jellyYellow0005 {width:124px; height:108px; background-position: -127px -111px}
.jellyYellow0006 {width:124px; height:108px; background-position: -253px -111px}
.jellyYellow0007 {width:124px; height:108px; background-position: -1px -221px}
.jellyYellow0008 {width:124px; height:108px; background-position: -127px -221px}
.jellyYellow0009 {width:124px; height:108px; background-position: -253px -221px}
.jellyYellow0010 {width:124px; height:108px; background-position: -1px -331px}
.jellyYellow0011 {width:124px; height:108px; background-position: -127px -331px}
.jellyYellow0012 {width:124px; height:108px; background-position: -253px -331px}
.jellyYellow0013 {width:124px; height:108px; background-position: -1px -441px}
.jellyYellow0014 {width:124px; height:108px; background-position: -127px -441px}
.jellyYellow0015 {width:124px; height:108px; background-position: -253px -441px}
.jellyYellow0016 {width:124px; height:108px; background-position: -1px -551px}
.jellyYellow0017 {width:124px; height:108px; background-position: -127px -551px}
.jellyYellow0018 {width:124px; height:108px; background-position: -253px -551px}
.jellyYellow0019 {width:124px; height:108px; background-position: -1px -661px}
.jellyYellow0020 {width:124px; height:108px; background-position: -1px -1px}
